# AUTH
BETTER_AUTH_URL=http://localhost:3333 # Base URL of your app
BETTER_AUTH_SECRET=

# DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=base-fullstack
POSTGRES_USER=base-fullstack
POSTGRES_PASSWORD=base-fullstack_password

# APP
PORT=3333